<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <title>Inventory Application</title>
</head>
<body>
  <div id="headerContainer">
    <a href="/">
      <div id="headerTxt">
        Movies Base Network
      </div>
    </a>
  </div>
  <div id="mainBody">
    <%- include("sidebar/sidebar.ejs") %>
    <div id="addtitleformDisplayContainer">
      <form method="POST" action="/newtitle">
        <fieldset>
          <legend>Add a title</legend>
          <div class="formEntries">
            <input placeholder="enter username" type="text"  name="newtitle" required><br>
          </div>
          <div class="formEntries">
            <input type="text" name="titletext" placeholder="enter description/review" required><br>
            <input id="submitBtn" type="submit" value="Send">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <script src="/js/helpers.js"></script>
</body>
</html>