<!-- views/partials/errors.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <link rel="icon" href="/movieDBicon.png" />
  <title>Inventory Application</title>
</head>
<body>
  <div id="headerContainer">
    <div id="headerLogoContainer">
      <a href="/">
        <div id="headerTxt">
          Movies Base Network
        </div>
      </a>
      <div id="headerLogo" >
        <img src="/movieDBicon.png" />
      </div>
    </div>

    <div id="dataContainer">
      <div id="glowingred">
        <img src="/glowingred.gif" />
      </div>
      <div id="dataValueType">
        Error!
      </div>
    </div>
  </div>
  <div id="mainBodyEdit">
    <div id="errorMessageContainer">
      <div id="errorMessageTxt">Error</div>
      <% if (locals.errors) {%>
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }); %>
        </ul>
      <% } %>
      <div>
        <a href="/">Go Back Home</a>
      </div>
      
    </div>
  </div>
</body>
</html>