<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <title>Inventory Application</title>
</head>
<body>
  <div id="headerContainer">
    <a href="/">
      <div id="headerTxt">
        Movies Base Network
      </div>
    </a>
  </div>
  <div id="mainBody">
    <%- include("sidebar/sidebar.ejs") %>
    <div id="moviesDisplayContainer">
    <% titles.forEach((title, index) => { %>
      <div class="movieCells">
        <a href="/details/<%= title.titles_id %>"><%= title.title %></a>
      </div>
    <% }) %>
    </div>
  </div>
  <script src="/js/helpers.js"></script>
</body>
</html>