<div class="sideBarTxtContainer">
  <a href="/director/<%= director.director_id %>"><%= director.name %></a>
</div>
<details class="sidebarDetails">
  <summary>
    <img class="editIcon" src="/editpen.svg" />
  </summary>
  
  <div class="editIconActive">
    <form action="/<%= director.director_id %>/updatedirector" method="POST" class="updateSideBarForm">
      <div class="formInput">
        <input type="text" name="directorname" value="<%= director.name %>" required>
      </div>
      <div id="formSubmit">
        <button type="submit">Update</button>
      </div>
    </form>
  </div>
</details>


