<div class="sideBarTxtContainer">
  <a href="/genre/<%= genre.genre_id %>"><%= genre.genre %></a>
</div>
<details class="sidebarDetails">
  <summary>
    <img class="editIcon" src="/editpen.svg" />
  </summary>
  
  <div class="editIconActive">
    <form action="/<%= genre.genre_id %>/updategenre" method="POST" class="updateSideBarForm">
      <input type="text" name="genrename" value="<%= genre.genre %>" required>
      <button type="submit">Update</button>
    </form>
  </div>
</details>
