  <div class="sideBarTxtContainer">
    <a href="/director/<%= director.director_id %>"><%= director.name %></a>
  </div>
  <details>
    <summary>
      <img class="editIcon" src="/editpen.svg" />
    </summary>
    
  <div class="editIconActive"></div>
  </details>


