<div class="sideBarTxtContainer">
  <a href="/genre/<%= genre.genre_id %>"><%= genre.genre %></a>
</div>
<div class="editIconContainer">
   <details>
    <summary>
      <img class="editIcon" src="/editpen.svg" />
    </summary>
    
  <div class="editIconActive">
    <div>test</div>
  </div>
  </details>
</div>
