
  <a href="/director/<%= director.director_id %>"><%= director.name %></a>
  <div class="editIconContainer">
     <details>
      <summary>
        <img class="editIcon" src="/editpen.svg" />
      </summary>
    <div class="editIconActive">yo</div>
  </details>
  </div>


