
<% if (!(isToggled)) { %>
  <a href="/director/<%= director.director_id %>"><%= director.name %></a>
  <div class="editIconContainer">
  <button class="editIconButton" onclick="() => editToggle(activeDirector, index); location.reload;">
    <img class="editIcon" src="/editpen.svg" />
  </button>
  </div>

<% } else  { %>

  <div>active to edit</div>

<% } %>

