* {
  border: solid rgba(17, 0, 255, 0.514) 1px;
}

:root {
  --primary-text-color: whitesmoke;
  --primary-color: rgb(17,0,255);
  --primary-color-alt: rgb(17, 1, 235);
  --secondary-color: rgb(194, 0, 0);
  --submitBtn: rgb(0,0,0);
  --errorDelete: rgba(185, 0, 0, 0);
  --errorDeleteAlt: rgb(168, 0, 0);
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: rgb(36, 36, 36);
  color: var(--primary-text-color);
  cursor: default;
}

textarea {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  list-style: none;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}

#headerContainer {
  height: 10%;
  display: flex;
  align-items: center;
  margin-left: 13%;
  font-size: 2rem;
}

#headerContainer a {
  justify-content: flex-start;
}

#headerTxt,
h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h1,
h2 {
  display: flex;
  flex: 1;
  justify-content: center;
}

.editIconActive {
  display: flex;
  justify-content: center;
  align-items: center;
}

#editMovieBtnContainer {

}

.addSideBarSection {
  display: flex;
  justify-content: center;
}

#mainBody {
  min-height: 100%;
  display: flex;
}

#mainBodyAlt {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#errorMessageTxt {
  font-size: 1.5rem;
  color: rgb(209, 0, 0);
}

#errorMessageContainer {
  color: rgb(228, 228, 228);
  font-style: italic;
  font-size: 1.2rem;
  width: 50%;
}

#errorMessageContainer a {
  color: rgb(82, 82, 255);
  font-weight: 600;
}

#sidebarContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebarCells {
  display: flex;
}

.sideBarTxtContainer {
  flex: 2;
}

.sidebarCells:has(details[open]) .sideBarTxtContainer {
  display: none;
}

details,
summary {
  display: block;
}

summary {
  list-style: none;
  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}

details:open > .editIconActive {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 4;
}

#moviesDisplayContainer {
  flex: 7;
  display: flex;
  flex-wrap: wrap;
}

#addtitleformDisplayContainer, #edittitleformDisplayContainer {
  flex: 7;
  display: flex;
  justify-content: center;
}

#addForm, #editForm {
  width: 80%;
  height: 40%;
  margin-top: 2%;
}

#addForm fieldset, #editForm fieldset {
  height: 100%;
  display: flex;
  flex-direction: column;
}

fieldset div {
  display: flex;
}

#formEntryTitle input,
#formEntryDescription textarea,
#submitBtnAddTitle button 
#submitBtnDeleteTitle button {
  flex: 1;
}

legend {
  font-size: 1.2rem;
  font-style: italic;
}

#formEntryTitle input,
#submitBtnAddTitle button
#submitBtnDeleteTitle {
  font-size: 1.2rem;
}

#formEntryDescription textarea {
  resize: none;
  overflow-wrap: break-word;
  text-align: left;
  vertical-align: top;
  line-height: 1.5;
}

#submitBtnAddTitle button,
#submitBtnDeleteTitle button {
  flex: 1;
  padding: 2%;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-weight: 700;
}

#submitBtnAddTitle button:hover {
  background-color: var(--primary-color-alt);
  cursor: pointer;
}

#submitBtnDeleteTitle button {
  background-color: var(--errorDelete);
}

#submitBtnDeleteTitle button:hover {
  background-color: var(--errorDeleteAlt);
  cursor: pointer;
}

#trashIcon {
  width: 2rem;
  height: auto;
}

#formEntryTitle {
  flex: 1;
}

#formEntryDescription {
  flex: 2;
}

#movieDetails {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addMovieBtn {
  background-color: transparent;
}

#addMovieBtn:hover {
  scale: 1.1;
  cursor: pointer;
}

.movieCells,
#addMovieContainer {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  width: 20%;
  max-height: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Tablet */
@media (max-width: 80em) {

  body {
    font-size: smaller;
  }

  .movieCells {
    width: 25%;
  }
  
  #sidebarContainer {
    flex: 2;
  }

  #moviesDisplayContainer {
    flex: 6;
    display: flex;
    flex-wrap: wrap;
  }

  #addtitleformDisplayContainer {
    flex: 6;
    display: flex;
    justify-content: center;
  }

  #addForm, #editForm {
    height: 60%;
  }

  #formEntryDescription {
    flex: 3;
  }
  
}
/* Mobile */
@media (max-width: 51.25em) {
  .movieCells {
    width: 50%;
  }

  #sidebarContainer {
    flex: 3;
  }

  #moviesDisplayContainer {
    flex: 5;
    display: flex;
    flex-wrap: wrap;
  }

  #addtitleformDisplayContainer {
    flex: 5;
    display: flex;
    justify-content: center;
  }
}
