* {
  border: solid rgba(255, 53, 53, 0) 1px;
}


:root {

  --blue-shade: rgb(23, 38, 70);
  --blue-shade-lighter: rgb(32, 51, 94);
  --grey-shade: rgb(221, 221, 221);
  --white-shade: rgba(255,255,255);
  --yellow-shade: rgba(252,163, 17);
  --yellow-shade-darker: rgb(235, 153, 23);
  --red-shade: rgba(239,35,60);
  --light-blue-shade: rgb(219, 226, 239);
  --red-shade-dark: rgba(243, 0, 0, 0.418);
  --dark-blue-shade: #2c2c3c;
  --text-color-alt: rgb(0, 0, 0);
  --text-color: rgb(245,245,245);
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  cursor: default;
  background-color: var(--blue-shade);
}

textarea, input {
  font-family: "Roboto", sans-serif;
}

textarea {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  list-style: none;
  color: var(--primary-text-color);
  display: flex;
  
  align-items: center;
  height: 100%;
}

#headerContainer {
  height: 15%;
  display: grid;
  grid-template-rows: repeat(1fr, 5);
  grid-template-columns: repeat(1fr, 10);
  font-size: 2rem;
  background: linear-gradient(
    to right,
    rgb(192, 125, 9),  
    rgba(255, 173, 41),  
    rgb(255, 171, 35)   
  );
}

#headerContainerAlt {
  height: 10%;
  display: grid;
  grid-template-rows: repeat(1fr, 5);
  grid-template-columns: repeat(1fr, 10);

  font-size: 2rem;
  background: linear-gradient(
    to right,
    rgb(192, 125, 9),  
    rgba(255, 173, 41),  
    rgb(255, 171, 35)   
  );
}


#headerContainer a {

  justify-content: flex-start;
  margin-left: 12%;
}

#headerLogoContainer {
  grid-row: 2/4;
  grid-column: 2/10;
  display: flex;
  width: 60%;
}

#dataContainer, #dataInfo {
  display: flex;
  flex: 2;
  background-color: var(--blue-shade);
  margin: 0;
}

#dataContainer {
  grid-row: 5/6;
  grid-column: 1/11;
}

#dataContainerAlt {
  justify-content: space-between;
  display: flex;
  background-color: var(--light-blue);
}

#headerLogo {
  display: flex;
  align-items: center;
}

#headerLogo img {
  height: 3rem;
  width: auto;
}

#glowingred img {
  height: 1rem;
  margin-bottom: 1%;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

#headerTxt {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}


#dataValueType {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: var(--text-color);
}

h1,
h2 {
  display: flex;
  flex: 1;
  right: 10%;
  justify-content: flex-start;
  background: linear-gradient(
    to right,
    rgb(192, 125, 9),  
    rgba(255, 173, 41),  
    rgb(255, 171, 35)   
  );
  color: var(--text-color-alt);

  margin: 0;
}



.editIconActive {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addIconActive {
  display: flex;
}

.addSideBarSection {
  display: flex;
  justify-content: center;
}

.updateSideBarForm {
  display: flex;
}

.updateSideBarForm button {
  background-color: var(--yellow-shade);
  outline: 2px solid var(--yellow-shade); 
}

.updateSideBarForm button:hover {
  background-color: var(--yellow-shade-darker);
}

.updateSideBarForm input {
  outline: 2px solid var(--yellow-shade); 
}

.updateSideBarForm button:hover {
  cursor: pointer;
}

input {
  border-bottom: solid 1px var(--yellow-shade);
}

#byDirector , #byGenre, #sidebarContainer{
  background-color:var(--blue-shade);
  
}

#mainBody, #mainBodyAlt{
  min-height: 100%;
  display: flex;
  border-top: solid var(--yellow-shade) 2px;

}

#mainBodyEdit {
  min-height: 100%;
  background-color: var(--blue-shade);
  display: flex;
  justify-content: center;
  color: var(--text-color-alt);
}

#sidebarContainer {
  min-height: 100%;

}


#errorMessageTxt {
  font-size: 1.5rem;
  color: rgb(209, 0, 0);
}

#errorMessageContainer {
  color: var(--text-color);
  font-style: italic;
  font-size: 1.2rem;
  width: 50%;
}

#errorMessageContainer a {
  color: rgb(121, 177, 252);
  font-weight: 600;
}

#sidebarContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: var(--blue-shade);
  border-right: var(--blue-shade) solid 1px;
  color: var(--text-color);
}

@keyframes font-ease {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}


.sidebarCells {
  display: flex;
  border-bottom: var(--blue-shade) solid 1px;
  background-color: var(--blue-shade);
  font-weight: 600;
  border-bottom: solid var(--blue-shade-lighter) 1px;
}

.sidebarCells:hover {
  background-color: var(--blue-shade-lighter);
}


.sideBarTxtContainer {
  flex: 2;
}

.sideBarTxtContainer a {
  color: var(--text-color);

}

.sidebarCells:has(details[open]) .sideBarTxtContainer {
  display: none;
}


.sidebarCells:has(details[open]), .addSideBarSection:has(details[open]) {
  animation-duration: 1.5s;
  animation-name: font-ease;
}



.sidebarDetails, .addDataToggle {
  display: flex;
  flex-direction: row-reverse;
}

.sidebarDetails {
  margin-right: 3%;
  justify-content: center;
}

.addDataToggle {
  margin-top: 2%;
  flex: 1;
  display: flex;
  justify-content: center;
  border: var(--blue-shade) solid 1px;
}

.addDataToggle:hover {
  background: linear-gradient(
    to right,
    rgba(192,125,9) 0%,     
    rgba(252,163,17),    
    rgba(192,125,9)100%    
  );
}

.addDataToggle summary {
  flex: 1;
  display: flex;
  justify-content: center;
}


input:hover {
  cursor: pointer;
}

input:focus, textarea:focus {
   outline: 2px solid var(--yellow-shade); 
}

details,
summary {
  display: block;
}

summary {
  list-style: none;
  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}

details:open > .editIconActive, details:open > .addIconActive {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 4;
}

#moviesDisplayContainer {
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  background-image: url('/Rect\ Light.svg');
  background-size: cover;
  border-left: solid var(--yellow-shade) 2px;

}

#addtitleformDisplayContainer, #edittitleformDisplayContainer {
  flex: 7;
  display: flex;
  justify-content: center;
  background-image: url('/Rect\ Light.svg');
  background-size: cover;
  border-left: solid var(--yellow-shade) 2px;
}


#addtitleformDisplayContainer form, #edittitleformDisplayContainer form {
  flex: 1;
}

#addForm, #editForm, textarea {
  width: 80%;
  height: 50%;
  animation-duration: 1.5s;
  animation-name: font-ease;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

input, textarea {
  background-color: rgb(23, 38, 70, 0.5);
  color: var(--text-color);
}

.updateSideBarForm input {
  background-color: var(--blue-shade);
  color: var(--text-color);
}

#editIconActive input {
  background-color: var(--blue-shade);
}

#addForm fieldset, #editForm fieldset {
  height: 100%;
  display: flex;
  flex-direction: column;
}

fieldset div {
  display: flex;
}

#deleteBtnContainer {
  flex: 1;
  height: 4%;
  background-color: var(--red-shade-dark);
}



#formEntryTitle input,
#formEntryYear input,
#formEntryDescription textarea,
#submitBtnAddTitle button 
#submitBtnDeleteTitle button {
  flex: 1;
}

#formEntryTitle input,
#formEntryYear input {
  text-align: center;
  font-size: 1.5rem;
}

legend {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--yellow-shade);
  font-weight: 600;
}

#submitBtnAddTitle button,
#submitBtnDeleteTitle {
  font-size: 1.2rem;
}

#submitBtnDeleteTitle button {
  background-color: var(--blue-shade);
}

#formEntryDescription textarea {
  height: 100%;
  resize: none;
  overflow-wrap: break-word;
  text-align: left;
  vertical-align: top;
  line-height: 1.5;
}

#submitBtnAddTitle button {
  flex: 1;
  padding: 2%;
  font-weight: 600;
}

#deleteBtnDataType button {
  font-size: 0.7rem;
  font-weight: 600;
  height: 100%;
}

#submitBtnAddTitle button {
  background-color: var(--yellow-shade);
  outline: 2px solid var(--yellow-shade); 
}

#deleteBtnDataType button {
  background-color: var(--red-shade-dark);
  color: var(--text-color);
}

#deleteBtnDataType button:hover {
  background-color: var(--red-shade);
}

#submitBtnAddTitle button:hover, #deleteBtnDataType button:hover {
  cursor: pointer;
}

#deleteBtnContainer form {
  flex: 1;
  height: 100%;
}

#deleteBtnDataType {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#deleteBtnDataType button {
  flex: 1;
}




#formHeaderContainer {
  display: flex;
  justify-content: space-between;
}

fieldset div input, fieldset div textarea {
  padding: 1%;
}


#submitBtnDeleteTitle button:hover {
  scale: 1.1;
  cursor: pointer;

}

#trashIcon {
  width: 2rem;
  height: auto;
}

#formEntryTitle {
  flex: 1;
}

#formEntryYear {
  flex: 1;
}

#formEntryDescription {
  flex: 2;
}

#movieDetails {
  flex: 1;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  color: var(--primary-text-color);
  font-size: 1.5rem;
}

#movieDetailsTitle {
 grid-column: 2/10;
 grid-row: 2/3;
 display: flex;
 flex-direction: column;
 flex: 1;
 justify-content: center;
 align-items: center;
 font-size: 2rem;
 font-weight: 600;
 background-color: var(--grey-shade);
 outline: 2px solid var(--yellow-shade);

}

#movieTitleDetails {
  width: 100%;
  font-size: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  border-bottom: 2px solid var(--blue-shade);

}

#movieDetailsGenre {
  justify-content: center;
}


#movieDetailsDirector {
  display: flex;
  align-items: center; 
}

#movieDetailsDescription {
  grid-column: 2/10;
  grid-row:3/8;
  background-color: var(--white-shade);
  outline: 2px solid var(--yellow-shade);
  font-style: italic;
  padding: 2%;
  font-family: "Montserrat", sans-serif;
  background-color: var(--light-blue-shade);
}

#editMovieBtnContainer {
  grid-column: 2/10;
  grid-row: 8/9 ;
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: var(--yellow-shade);
  outline: 2px solid var(--yellow-shade);

}


#editMovieBtnContainer a {
  display: flex;
  flex: 1;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

#editMovieBtn {
  font-family: "Roboto", sans-serif;
}

#addMovieBtn {
  background-color: transparent;
  justify-content: center;
}

.addMovieIcon {
  height: 2.2rem;
}

.movieCells {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  width: 20%;
  max-height: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 38, 70, 0.5);
  color: var(--light-blue-shade);
  transition: transform 0.3s ease;
}

.movieCells a , #addMovieContainer{
  width: 80%;
  border: solid var(--primary-color-alt) 1px;

}

.movieCells, #addMovieContainer {
  border: var(--blue-shade) solid 1px
}

.movieCells:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px 4px var(--white-shade);
  
}

.movieCellContainer {
  display: flex;
  flex-direction: column;
}

.movieCellTitle {
  font-weight: 800;
}

.movieCellYear {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: var(--yellow-shade);
}

@keyframes ease-in {
  from {
    scale: 1.00;
  }

  to {
    scale: 1.05;
  }
}

#addMovieContainer a {
  width: 100%;
}

/* Tablet */
@media (max-width: 80em) {

  body {
    font-size: smaller;
  }

  #headerTxt {
    font-size: 1.2rem;
  }

  #movieDetails {
    font-size: 1rem;
  }

  #movieDetailsTitle {
    font-size: 1.5rem;
  }
  

  .movieCells {
    width: 25%;
  }
  
  #sidebarContainer {
    flex: 2;
  }

  #moviesDisplayContainer {
    flex: 6;
    display: flex;
    flex-wrap: wrap;
  }

  #addtitleformDisplayContainer {
    flex: 6;
    display: flex;
    justify-content: center;
  }

  #addForm, #editForm {
    height: 60%;

  }

  #formEntryDescription {
    flex: 3;
  }
  
}
/* Mobile */
@media (max-width: 51.25em) {


  html, body {
    min-width: 30em;
  }


  #movieDetails {
    font-size: 0.75rem;
  }

  #headerTxt {
    font-size: 1rem;
  }
  


  .movieCells {
    width: 50%;
  }

  #sidebarContainer {
    flex: 3;
  }

  #moviesDisplayContainer {
    flex: 5;
    display: flex;
    flex-wrap: wrap;
  }

  #addtitleformDisplayContainer {
    flex: 5;
    display: flex;
    justify-content: center;
  }

  h1,
  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: smaller;
  }

  .movieCells, .sidebarCells, #dataValueType {
    font-size: 0.5rem;
  }

}
